{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div>
    <h1>Bonjour et bienvenue dans la nouvelle application de la DGA !</h1>
        <p>Cette application est actuellement en cours de développement. Une version partielle sera mise en ligne promptement.
    Veuillez nous excuser pour la gêne occasionnée.</p>
    <h2>A quoi sert cette application ?</h2>
        <p>Cette application a pour finalité de facilité les échanges entre les différents services de la DGA
        pour coordonner et informer.</p>
    <h2>Ceci n'est qu'une version de test !</h2>
        <p>En effet, ceci est un projet de stage officiel, mais qui vient de débuter.</p>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('aggrid/endmain.js') }}"></script>
{% endblock %}

{% block js %}

<script src="{{ asset('jsuite/jsuites.js') }}"></script>
<script src="{{ asset('aggrid/ag-grid-enterprise.min.js') }}"></script>
<script src="{{ asset('aggrid/main.js') }}"></script>

{% endblock %}