<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-primary mx-auto" id='addRow'>Ajouter une ligne</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary mx-auto" onclick="onRemoveSelected()">Supprimer la sélection</button>
        </li>
        <li class="nav-item">
            <form method="POST">
                <textarea hidden id="affichage" name='Description' cols="100" rows="5"></textarea>
                <button class="btn btn-primary mx-auto" type="submit"><img src="../../public/images/save.png"> Enregistrer</button>
            </form>
        </li>
      </ul>
    </div>
 </nav>
